/**
 * Basic styling
 */
 body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings:  "kern" 1;
    -moz-font-feature-settings:     "kern" 1;
    -o-font-feature-settings:       "kern" 1;
    font-feature-settings:          "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
     margin-bottom: $spacing-unit / 2;
 }

/**
 * Wrapper
 */
 .wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right:   auto;
    margin-left:    auto;
    padding-right:  $spacing-unit;
    padding-left:   $spacing-unit;
    @extend %clearfix;
    
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right:  $spacing-unit / 2;
        padding-left:   $spacing-unit / 2;
    }
}
