/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    flex: 1;
}

.page-heading {
    @include relative-font-size(2);
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
    font-style: normal;
}

.draft-language {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: darkslateblue;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    @include relative-font-size(2.25);
    letter-spacing: -1px;
    font-style: italic;
}

.post-content {
    margin-bottom: $spacing-unit;
}
